<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>626778437918-loe96sg7frhl73cr1pq1f477iklvc4vh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626778437918-loe96sg7frhl73cr1pq1f477iklvc4vh</string>
	<key>API_KEY</key>
	<string>AIzaSyCYL0Cm0yVDuZn6trw8NPewwWberPfjUn8</string>
	<key>GCM_SENDER_ID</key>
	<string>626778437918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.litech.TennisMatch</string>
	<key>PROJECT_ID</key>
	<string>tennismatch-60204</string>
	<key>STORAGE_BUCKET</key>
	<string>tennismatch-60204.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626778437918:ios:dcdc3c91c086879e</string>
	<key>DATABASE_URL</key>
	<string>https://tennismatch-60204.firebaseio.com</string>
</dict>
</plist>